/* Border box makes it easier to sieze everthting  */
/* User-select disallows users to highlight any content  */
*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

/* this ensure evertyhting is centered on our screen */
body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* This makes it so everthing is position within our world */
.world{
    overflow: hidden;
    position: relative;
}

 /* positions score on top right corner */
.score{
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}

/* transform allows us to ensure that the start screen is in the dead center of our screen */
.start-screen{
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* this ensures that once we start out game, the start text disappears */
.hide{
    display: none;
}

.ground{
    --left:0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino{
    --bottom:0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

/* to be positioned right between ground */
.cactus{
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}
